[2018-04-26 21:27] scott-emery opened #6 "Add additional attributes"
The object attributes which are currently defined are those attributes which were part of the CFP MSA MIS 2.2. Attributes not in the MSA were deemed vendor-extensions and not included in the TAI. But there are some very important attributes, such as the modulation and signal coding of a network interface, which should be included in the TAI.

I'm opening this issue as a way to keep track of the "n

[2018-04-26 21:36] scott-emery commented on #6
As I mentioned in the issue, the modulation format is one of the attributes I'd like to add to the network interface objects. The transponder I'm working with has the following formats, but I suspect there are more.

Please comment on the other modulation formats which should be added to this enum so I can include them in the pull request.

[code]
The attribute would then be added to the network i

[2018-04-26 21:42] scott-emery commented on #6
In addition to the modulation format, some other network interface attributes we could consider adding are:

* Current Pre-FEC Bit Error Rate
* FEC Uncorrectable code blocks since reset
* Differential encoding
* FEC mode
* Master enable
* Transmitter turn-up state
* Receiver turn-up state

Please provide thoughts on these attributes, and others which make sense to add to the standard network inter

[2018-04-26 22:51] ishidawataru commented on #6
@scott-emery As for modulation type, how about using this?

https://github.com/OpenROADM/OpenROADM_MSA_Public/blob/master/model/Common/org-openroadm-common-optical-channel-types.yang#L162-L218

[2018-04-27 10:49] HidekiNishizawa commented on #6
Hi Scott, I am Hideki Nishizawa from NTT labs. Let me ask you about your comment, what do you mean by the word 'master mode'? Is it for control interface like MDIO?

[2018-04-27 14:47] HidekiNishizawa commented on #6
I found that you mean master enable.

[2018-04-27 17:45] scott-emery commented on #6
@ishidawataru That's a good list. The [CFP MSA](http://www.cfp-msa.org/Documents/CFP_MSA_MIS_V2p6r06a.pdf) has additional formats for qam-64 and qam-256. We should probably add those too. There are also Non-PSK, ODB, and PAM4 options in the MSA. Do you have any opinion on including/excluding those formats?

[2018-04-27 17:52] scott-emery commented on #6
@HidekiNishizawa It's easier to think of a module with multiple network interfaces when thinking about TAI. The attributes of a network interface apply to only that one network interface. The attributes of a module apply to the module as a whole, not just one network interface or host interface. So the master enable attribute for a network interface would apply to just the network interface, not t

[2018-04-27 21:23] ishidawataru commented on #6
@scott-emery I prefer to keep it simple for now.
Including PAM4 would be very interesting, but I'd like to keep it until when we support PAM4 tranceiver in TAI.

How about the list below?

[code]

[2018-05-06 11:31] HidekiNishizawa commented on #6
@ishidawataru @scott-emery May I add 32QAM as below? Because the latest DSP has not only 64QAM but also 32QAM.

typedef enum _tai_network_interface_modulation_format_t
{
  TAI_NETWORK_INTERFACE_MODULATION_FORMAT_UNKNOWN,
  TAI_NETWORK_INTERFACE_MODULATION_FORMAT_BPSK,
  TAI_NETWORK_INTERFACE_MODULATION_FORMAT_DP_BPSK,
  TAI_NETWORK_INTERFACE_MODULATION_FORMAT_QPSK,
  TAI_NETWORK_INTERFACE_MODULATI

[2018-05-07 18:36] ishidawataru commented on #6
@HidekiNishizawa ok, let's add 32_QAM as well.

[2018-05-07 20:19] scott-emery commented on #6
I'm sure we will have requests to add many more modulation formats in the future. This seems like a good set to start with. Since the pull request for the modulation format has been merged, I'm going to close this issue. From now on, let's open individual issues for each new/modified attribute. I think that will be make it easier to keep track of the status of issues.

Closing issue due to merge o

[2018-05-07 20:38] scott-emery opened #8 "Add BER Attribute to Network Interface Object"
One of the key measures of quality of a network interface is the bit error rate (BER) of the interface. So I would like add the necessary attribute(s) to support BER for network interfaces. My initial thought is to add a read-only attribute which reports the current BER as a floating point number. In order to get an accurate understanding of the true error rate, the errors prior to any correction

[2018-05-07 22:14] ishidawataru commented on #8
I agree.

Yes, I think it's better to have it.

The platform I'm working with does BER calulation in software (DSP SDK).

[2018-05-09 18:33] ishidawataru commented on #8
@scott-emery When the module has several hostifs, the platform we are using can get BER for each hostif. Is it same for you? In that case, it'd be better to put this attribute in hostif attribute.

[2018-05-10 16:49] scott-emery commented on #8
@ishidawataru BER can be supported on every interface. The platform I'm working on calculates BER for each of the network interfaces **and** each of the host interfaces. So, yes, we can add it to the host interfaces, but it also needs to be included on the network interfaces.

The host interfaces are typically "internal" interfaces (between two chips inside the platform). So the BER is less critic

[2018-05-10 16:59] ishidawataru commented on #8
I should have said that the platform I'm using can get BER for each host(client) traffic which goes through a network interface.

For example, if 2 host interfaces are connected to a network interface, 2 streams go through a network interface. I can get BER for each stream.

I defined a component named optical channel for this purpose which is removed now.

https://github.com/Telecominfraproject/O

[2018-05-10 17:22] scott-emery commented on #8
Oh, I see. The platform I'm working on calls that a "tributary". When multiple host interfaces transmit into, and receive from, a single network interface, the data on the network interface for a single host interface is called a tributary.

Although it may be another data point, I don't see the use of individual optical channel (tributary) BER. Are there parameters that can be changed on a indivi

[2018-05-10 23:35] ishidawataru commented on #8
@scott-emery After some study, I came to agree with you.
I'll implement this by taking the average of both BERs.

[2018-05-18 17:40] scott-emery commented on #8
Network Interface BER is now part of TAI.

[2018-05-18 17:40] #8 closed

[2018-06-27 01:09] ishidawataru opened #12 "Tributary support"
I'm thinking of adding tributary support in TAI.
At first, I’d like to check if I understand https://github.com/Telecominfraproject/oopt-tai/pull/1 correct.

Tributary support will enable flexible mapping of host interfaces and network interfaces.

For example, Facebook Voyager has 2 Acacia AC400 inside. AC400 is a dual channel module and can transport 3x100G client signal. When modeling this with

[2018-06-27 01:41] ishidawataru opened #13 "Move frequency related attributes to network interface attribute"
https://github.com/Telecominfraproject/oopt-tai/blob/master/inc/taimodule.h#L152-L185

I think we should move these attributes as network interface attribute.
My understanding is that a network interface represents one optical device which transports one lambda.
In this case, if we have several network interfaces inside one module, each network interface has its own min/max laser frequency.

@scot

[2018-06-27 18:11] scott-emery commented on #13
These values come from the CFP_MSA's CFP NVR 4 register page. See page 81 of http://www.cfp-msa.org/Documents/CFP_MSA_MIS_V2p6r06a.pdf. While these attributes are listed for the module, not individual network interfaces, I don't see any problem moving them to the network interface object.

Most implementations will simply report the same values for all network interfaces. But if there is, in the f

[2018-06-27 18:24] scott-emery commented on #12
Wow. Your understanding is very good. Everything you said is correct. The only exception is that I didn't alter the number of network interfaces or host interfaces based on the configuration. There are always 4 host interfaces and 2 network interfaces exposed through TAI for each AC400 module.

In some modulation settings some of the host interfaces are not used, but all 4 are always present via T

[2018-06-27 21:31] ishidawataru commented on #13
I think we need a more concrete definition for module and network interface.

In Cassini case, I tend to think `module` represents plug-in-unit and `network-interface` represents CFP2 transceiver. In this case, it is more natural to put CFP MSA attributes into `network-interface`.

Also, we could think about a plug-in-unit which has two CFP2 cage. In this case, we can insert transceivers with diff

[2018-06-28 19:42] scott-emery commented on #13
When working with a module with a single network interface it is sometimes difficult to separate what is a property of the network interface and what is a property of the module. Cassisni complicates things even more, because it has plug-in modules which accept plug-in modules.

For the DCO modules, I would say a TAI module is the CFP2 module. Since most of these modules have a single network inte

[2018-06-28 21:33] ishidawataru commented on #13
What do you think is the benefit to have two notions, module and network interface?
If it is unclear how to split two things, I think we can merge these into one.

How about putting everything related to emitting one lambda ( laser + 1ch of DSP ) into one network interface like below?

| | module | network interface | host interface
----|----|----|----
| AC400 | 1 | 2 = ( 1 Tunable Laser + 1 Chann

[2018-06-28 21:55] scott-emery commented on #13
There really are some attributes which are specific to the module. For example, the temperature. No matter how many network interfaces exist, the module has a temperature, and that is a property of the module, not the network interface. The serial number is another good example of a module attribute.

That sounds perfect!

[2018-06-29 21:21] dileepbk commented on #13
@ishidawataru

This means we need to add Optical Channel.
For AC400 there will be two Optical Channel, but one Network Interface.
In future, when more than one CFP2 cage are supported in a module, then Network Interface count will be more than one. Now it will be set to 1.

[2018-06-29 21:33] ishidawataru commented on #13
@dileepbk

I was thinking about adding one more object like optical channel but not for supporting PIU with two CFP2 cages.

I think `module` and `network interface` object is enough to represent PIU with two CFP2 cages.

PIU = module, CFP2 = network interface

Same for AC400.

AC400 = module, pair of one laser and one channel of DSP = network interface

[2018-06-29 21:50] dileepbk commented on #13
Agreed, that *Network Interface* Object will represent CFP2 cages.
How are we representing the dual-channel of AC400 ?
If with *Network Interface* Object, then fine.
In future, for Dual CFP2 and Dual-Channel, the two tier does not work. Then need to add **Optical Channel**
AC200 does not have this feature.

[2018-06-29 22:32] ishidawataru commented on #13
Not necessarily.

Please see the table in https://github.com/Telecominfraproject/oopt-tai/issues/13#issuecomment-401180344

As for Cassini ACO module

network interface = CFP2ACO + DSP

In this case, we would have two network interfaces.
Each network interface represents one CFP2 and one channel.

BTW you need one line space to make indentation work properly :)

[2018-07-02 23:22] #13 closed

[2018-07-02 23:31] scott-emery opened #15 "Method for Supporting Custom Attributes"
I order to create working systems, there are some additional object attributes types which may need to be supported. For example, there may be additional functionality enabled by certain transponders that not all transponders would be expected to support. Or there may be some settings which need to be initialized for proper operation which are specific to one transponder. This github issue is bein

[2018-07-03 00:57] ishidawataru commented on #15
@scott-emery Do we need to create custom header files in this repo to make stub/test compilable? Or are you thinking to use `ifdef` or `autoconf` to make custom headers optional for compile?

[2018-07-03 21:27] scott-emery commented on #15
You know, after thinking about this some more, it occurred to me that custom attributes can be supported entirely within the TAI adapter's code. So, for now, I'm closing this issue.

[2018-07-09 20:22] scott-emery opened #18 "Loopback Support"
It is common for network operators to test the optical line system by placing a network interface in loopback, sending data to that interface from a far-end system, and checking the data received back on that far-end system.

I would like to add a loopback attribute to network interfaces. Setting this attribute to true will cause all data received on the network interface to be sent back out on th

[2018-07-10 01:26] ishidawataru commented on #18
https://github.com/OpenROADM/OpenROADM_MSA_Public/blob/3e90fb1dcef7e989ecb5420fa6934b0c34b32a6e/model/Device/org-openroadm-maintenance-loopback.yang#L47-L80

OpenROADM has two loopback types for network side.

https://github.com/openconfig/public/blob/aea5b1525f9e1ed439924ccc5debaae092e1f3f8/release/models/optical-transport/openconfig-transport-types.yang#L73-L95

OpenConfig has only enable/disabl

[2018-07-10 18:53] scott-emery commented on #18
Ok. We will start with a boolean and change it if needed. I think the two loopbacks in OpenConfig are actually what I proposed. The Facility and Terminal loopbacks are the loopback of the network interface object and host interface object(s).

The only status change I was thinking about was that the loopback attribute of the network interface or host interface object would change. The same states

[2018-07-24 01:19] dileepbk opened #19 "TAI-MAI Interface with PA"
Creation of Platform Abstraction PA.
Additional interface MAI to TAI.

[2018-08-06 22:27] ishidawataru commented on #12
@scott-emery I opened a PR to add an attribute in `taimodule` for the mapping of netif and hostif.
Just like your original approach, this approach also doesn't change the number of netif and hostif.

However, since this approach doesn't have a notion of  'coupled' / 'de-coupled', it is the adapter host responsibility to correctly configure both netifs.

Also, this approach doesn't have the flexibi

[2018-08-06 22:29] #19 closed

[2018-08-10 15:15] samisaab commented on #18
Hi.  Some DSPs provide shallow and deep loopback options, like the pre/post FEC options shown in the OpenROADM link above.  These options are useful both for facility and terminal loopbacks.  The purpose is to isolate a problem between the optical and digital link.  I agree that both options should be provided when setting the loopback mode.  Thanks.

[2018-08-20 22:35] #12 closed

[2018-09-22 02:59] ishidawataru opened #34 "running CI"
It is always better to run CI.

oopt-gnpy is using travis-ci.

https://www.travis-ci.com/Telecominfraproject/oopt-gnpy

@luismartingarcia @mikeypiro Could you enable travis-ci.com for this repo too?
It seems I don't have enough right to enable it.

[2018-09-28 11:31] JumpeiHongo opened #35 "Confirmation of TAI_NETWORK_INTERFACE_ATTR_DSP_STATUS."
Hi everyone, I think user who use the CFP2ACO want to know the two kind of the FAULT alarm for ACO and DSP.
As of now, it looks there is one FAULT alarm in "TAI_NETWORK_INTERFACE_ATTR_OPER_STATUS".
This FAULT alarm is for ACO. Is that right?

And I think we need RMV alarm for maintenance.

What do you think if I add the following new ID for DSP?
_tai_network_interface_attr_t
ID: TAI_NETWORK_INTERF

[2018-09-28 17:44] ishidawataru commented on #35
@JumpeiHongo I agree to have an attribute for DSP status.
What is RMV?
Do we have any reference we can use for this attribute in a spec like OpenROADM, OpenConfig, CFP MSA?

@samisaab I believe this attribute can also be used for DCO transceiver. Am I correct?

[2018-10-01 00:25] JumpeiHongo commented on #35
@ishidawataru

"RMV" means the PIU is removed.

I will confirm if I share the alarm list fr OpenROADM MSA project.

[2018-10-01 01:38] JumpeiHongo commented on #35
@ishidawataru

It looks there are only types for alarms below.
https://github.com/OpenROADM/OpenROADM_MSA_Public/tree/master/model/Common

I think the alarms for OpenROADM are vendor specific.

[2018-10-01 04:44] ishidawataru commented on #35
oh, I thought what you are saying by DSP status means internal status of DSP (e.g initialization, loss-of-signal etc..)

As for the physical module presence, we have [module_presence](https://github.com/Telecominfraproject/oopt-tai/blob/master/inc/tai.h#L78-L92) callback.

When PIU is removed, we can call this callback with `presence=false`.

[2018-10-01 10:39] JumpeiHongo commented on #35
@ishidawataru and all
I see about PIU removed status. thank you.

Could you please confirm below?
http://openroadm.org/download.html
20171121a Open ROADM MSA specification ver 2 00.xlsx

You can understand the alarm for Open ROADM.
Caution to read:
1.This Spec is for Transponder not including the Switch device.
2.If you see this file, you can see "W SWITCH functional" sheet. This is not L2 SWITCH.

[2018-10-31 14:32] ojnas opened #38 "Baudrate attribute"
I could not find any attribute related to baudrate or bitrate. Shouldn't this be a network interface attribute or do you only target modules supporting a single baudrate?

[2018-11-01 22:05] scott-emery commented on #38
There is not currently a baudrate/bitrate attribute for the network interface object (or any other object). Currently, the bitrate is indirectly selected based upon the modulation. For the modules I'm familiar with, each modulation technique selects a single network interface bitrate. For example, on the AC400 selecting 16-QAM modulation means the network interface is carrying 200Gbps of host inte

[2018-11-02 08:11] ojnas commented on #38
Yes, it's true that the AC400 and existing pluggable DCO modules only supports a single baudrate so the modulation decides the bitrate. But some system vendors' transponders (using in-house DSPs) already support two baudrates and the AC1200 will support variable baudrate. Maybe TAI doesn't have to support this today but it is something that will need to be considered in the future.

[2018-11-03 00:54] ishidawataru commented on #38
I think it is good to have a baud rate attribute in TAI. Thanks for bringing this up.
Even if the DSP doesn't support changing the baud rate, it might be useful to have a read-only attribute to know the current baud rate.

[2018-11-03 00:55] ishidawataru commented on #34
Travis CI is enabled now

[2018-11-03 00:55] #34 closed

[2018-11-05 20:45] #18 closed

[2018-11-05 22:26] scott-emery opened #42 "Clarification: TAI_MODULE_ATTR_TRIBUTARY_MAPPING"
Now that this attribute is defined, I'm about to change the implementation of this attribute from a custom attribute to the standard attribute. I have some questions about how the get_attribute function is supposed to work for this. This attribute is basically a list (tai_object_map_list_t) where each element in that list has a nested list (tai_object_list_t).

First off, I assume that the TAI ada

[2018-11-05 23:04] ishidawataru commented on #42
Yes, your understanding is completely same as mine.

[2018-11-08 19:18] samisaab opened #44 "Custom Attribute Range Request for Oclaro CFP2-ACO"
Would like to add Oclaro CFP2-ACO range in inc/tainetworkif.h as follows.

    /** Custom range for the TRB100 adapter */
    TAI_NETWORK_INTERFACE_ATTR_CUSTOM_TRB100_START = TAI_NETWORK_INTERFACE_ATTR_CUSTOM_AC400_END + 0x0001,
    TAI_NETWORK_INTERFACE_ATTR_CUSTOM_TRB100_END   = TAI_NETWORK_INTERFACE_ATTR_CUSTOM_TRB100_START + 0xFFFF,

[2018-11-08 19:35] samisaab opened #45 "Replace channel/grid spacing support with just frequency support"
Remove definitions and support for channel and grid spacing control and status, and replace with definitions and support for only carrier frequency control and status.  Implementation would behave as follows.
- Software snaps to a Read/Write "Requested" frequency attribute to the highest supported grid resolution
- Software provides a Read Only "Set" frequency attribute for the resulting snapped v

[2018-11-08 22:35] scott-emery commented on #44
@samisaab  Can you remove the initializer for the "START" value? I think it would be less error prone, long term, if the start values just follow the previous value. The only reason I initialized the AC400's "START" value was because I didn't want it to be +1 of the custom range start.

Also, there was some discussion at the workshop that each ACO module would, potentially, need different custom a

[2018-11-08 22:36] scott-emery commented on #42
Thank you. Closing this.

[2018-11-08 22:36] #42 closed

[2018-11-08 22:44] scott-emery commented on #45
I like it, and I think this is where we basically converged at the workshop. Two comments:

- Would it also be worthwhile to have a read-only value for the grid resolution which was selected by the frequency?
- Also, I'd like to request, for consistency, that all frequency values be uint64's and in units of Hz. Of course the application is free to convert these values to other formats (e.g. float)

[2018-11-09 00:38] samisaab commented on #44
@scott-emery Sounds good.  I was thinking to keep all Oclaro CFP2-ACO custom attributes in one defined range, but your comment and further thought convinces me otherwise.  Following is an updated range definition.  @ishidawataru Let me know if you're good with this definition and range.

    /** Custom range for the NLD0670APB/TRB100 adapter */
    TAI_NETWORK_INTERFACE_ATTR_CUSTOM_NLD0670APB_TRB1

[2018-11-09 00:53] samisaab commented on #45
- Yes.  In fact, not all grid spacing is an integer multiple of another, so I was incorrect to state highest resolution.  Rather, software should determine the resolution that gets closest to the "Requested" frequency.  This also means we should keep the supported grid spacing attribute so that a user can determine what to request in some instances.
- Agreed.

[2018-11-09 00:54] scott-emery commented on #44
Can we keep all custom attribute allocations at 64K for now? I know it is TOTAL overkill. But we can define over 60,000 custom attribute ranges, each with space for 64K attributes. By defining a range of only 256 we may run into a situation where the next transceiver allocates 64K and thus those attributes are not so easy to determine which range they are a part of. If all attribute ranges are 64K

[2018-11-09 00:56] samisaab commented on #44
Sounds good.

    /** Custom range for the NLD0670APB/TRB100 adapter */
    TAI_NETWORK_INTERFACE_ATTR_CUSTOM_NLD0670APB_TRB100_START,
    TAI_NETWORK_INTERFACE_ATTR_CUSTOM_NLD0670APB_TRB100_END = TAI_NETWORK_INTERFACE_ATTR_CUSTOM_NLD0670APB_TRB100_START + 0xFFFF,

[2018-11-09 04:30] ishidawataru commented on #44
@samisaab Please change `NLD0670APB` to `NLD0670`. NEL has several types of `NLD0670` chip which all have the same register map.

other than that LGTM. please open an PR.

[2018-11-09 04:40] ishidawataru commented on #45
@samisaab

Is the supported grid space `TAI_NETWORK_INTERFACE_ATTR_LASER_GRID_SUPPORT` enough to determine what to request?

Do we also need `TAI_NETWORK_INTERFACE_ATTR_MIN_LASER_FREQ` for the calculation?

[2018-11-09 08:03] ojnas opened #46 "Grid spacing 33 GHz"
Why is 33 GHz included in the grid spacing attribute? This is not aligned with any standard grid as far as I know.

[2018-11-09 17:52] samisaab commented on #44
Will do.

    /** Custom range for the NLD0670APB/TRB100 adapter */
    TAI_NETWORK_INTERFACE_ATTR_CUSTOM_NLD0670_TRB100_START,
    TAI_NETWORK_INTERFACE_ATTR_CUSTOM_NLD0670_TRB100_END = TAI_NETWORK_INTERFACE_ATTR_CUSTOM_NLD0670_TRB100_START + 0xFFFF,

[2018-11-09 18:49] scott-emery commented on #46
The list of possible grid spacings was taken from the CFP MSA MIS (http://www.cfp-msa.org/documents.html). See page 82 of the Version 2.6 spec, for CFP NVR4 register 8196. It doesn't really cause any harm to include the 33 GHz possibility, even if nobody is currently implementing it, does it? That value will simply not be listed as something supported.

[2018-11-09 21:53] samisaab commented on #45
Yes, I think `TAI_NETWORK_INTERFACE_ATTR_LASER_GRID_SUPPORT` is enough to determine what to request.

The `TAI_NETWORK_INTERFACE_ATTR_MIN_LASER_FREQ` and `TAI_NETWORK_INTERFACE_ATTR_MAX_LASER_FREQ` should remain to inform a user as well.

[2018-11-09 21:56] samisaab commented on #46
33 GHz grid spacing is used in legacy 10G submarine systems.  As such, current systems can be required to adhere with the 33 GHz grid.

[2018-11-09 22:34] samisaab opened #47 "Change fine tune laser frequency attribute from unsigned to signed."
MSA defines fine tune frequency register as a signed 16-bit integer with LSB = 1 MHz.  As such, change `TAI_NETWORK_INTERFACE_ATTR_TX_FINE_TUNE_LASER_FREQ` type from unsigned to signed.  It's currently `@type #tai_uint64_t`, so change it to `@type #tai_int64_t`.

[2018-11-09 23:08] scott-emery commented on #47
Nice catch! Please open a pull request.

[2018-11-12 20:02] samisaab commented on #45
After more thought, I would still like to add `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ` and `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ_ADJUSTABLE` attributes, so that a user can determined how a "Requested" frequency will snap, and if they want to change channel 1 to change how it snaps.  I'm also fine with making them custom attributes if others prefer that approach instead.

[2018-11-12 21:41] #47 closed

[2018-11-12 21:47] #44 closed

[2018-11-12 23:23] ishidawataru commented on #45
Yeah, that's why I asked about `TAI_NETWORK_INTERFACE_ATTR_MIN_LASER_FREQ`.
I think you are expecting `TAI_NETWORK_INTERFACE_ATTR_MIN_LASER_FREQ` to return the possible lowest frequency which the hardware supports though.

One more question I came up with is what will happen if the user specifies a way lower or higher frequency which the hardware supports.

It would be useful to have some guard fo

[2018-11-13 00:35] samisaab commented on #45
OK, sounds good.  How about returning an error if the calculated snap creates a delta between "Requested" and "Set" that is greater than the largest supported grid spacing?

[2018-11-14 01:15] samisaab commented on #45
Following are proposed changes to tainetworkif.h
- Remove following attributes
  - `TAI_NETWORK_INTERFACE_ATTR_TX_CHANNEL`
  - `TAI_NETWORK_INTERFACE_ATTR_CHANNEL_LAMBDA`
- Add following attributes
  - `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ`
  - `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ_ADJUSTABLE`
- Changed `TAI_NETWORK_INTERFACE_ATTR_TX_GRID_SPACING` to `READ_ONLY`
- Changed `TAI_NETWORK_INTERFACE_ATTR

[2018-11-14 01:32] ishidawataru commented on #45
`TAI_NETWORK_INTERFACE_ATTR_TX_LASER_FREQ` is `READ_ONLY` correct?

How do we use  `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ` and `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ_ADJUSTABLE` ?

`TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ` is `READ_ONLY` and `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ_ADJUSTABLE` is the attribute for the ch1 configuration?

[2018-11-14 01:36] scott-emery commented on #45
I have the same questions as @ishidawataru. @samisaab can you provide a bit more documentation on these attributes? I think what you are proposing is much better than what we currently have, I just want to be able to fully understand it.

Also, a minor point, why use the string "CH1" in the attribute names instead of "CHANNEL" or "CHAN"? Are we expecting there will be a "CH2" in the future?

[2018-11-14 02:51] samisaab commented on #45
`TAI_NETWORK_INTERFACE_ATTR_TX_LASER_FREQ` is `READ_ONLY`

`TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ` is `READ/WRITE` and used for reading `[0x818A] [0x818B] [0x818C] [0x818D]` and reading/writing `[0xB490] [0xB491] [0xB492]` to access and change the channel 1 frequency.  This may be needed for a user to set the base of the grid they want to snap to.  If the user wants to use NVR data instead, they can

[2018-11-14 02:56] ishidawataru commented on #45
@samisaab I see. If the module doesn't support setting `CH1_FREQ`, the set_attribute api can simply return `TAI_STATUS_ATTR_NOT_SUPPORTED_0`  https://github.com/Telecominfraproject/oopt-tai/blob/master/inc/taistatus.h#L249

So we don't need `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ_ADJUSTABLE`

[2018-11-14 02:57] samisaab commented on #45
OK, makes more sense.

[2018-11-14 03:01] ishidawataru commented on #45
Instead of `TAI_NETWORK_INTERFACE_ATTR_CHANNEL_FREQ` and `TAI_NETWORK_INTERFACE_ATTR_TX_LASER_FREQ`, how about

`TAI_NETWORK_INTERFACE_ATTR_TX_LASER_FREQ` for configuration and
`TAI_NETWORK_INTERFACE_ATTR_CURRENT_TX_LASER_FREQ` for read-only attribute?

In this way, we can add `RX_LASER_FREQ` attributes in the future if we want.

[2018-11-14 03:08] samisaab commented on #45
Sounds good to me.

[2018-11-14 03:19] ishidawataru commented on #45
@samisaab thanks. the last item I want to discuss is error guard.

We could generalize this and have an attribute which specifies how much gap we allow between the requested and actual frequency.

The default value of that attribute can be max supported grid spacing width.
What do you think?

[2018-11-14 03:42] samisaab commented on #45
That sounds good.  Any suggestions on attribute names?

[2018-11-14 22:38] ishidawataru commented on #45
Here are my ideas. None of them sound right though.

`TAI_NETWORK_ATTRIBUTE_ATTR_MAX_ALLOWED_TX_LASER_FREQ_ERROR`
`TAI_NETWORK_ATTRIBUTE_ATTR_MAX_ALLOWED_TX_LASER_FREQ_SNAP_GAP`
`TAI_NETWORK_ATTRIBUTE_ATTR_MAX_TX_LASER_FREQ_SNAP_GAP`
`TAI_NETWORK_ATTRIBUTE_ATTR_MAX_TX_LASER_FREQ_ERROR`
`TAI_NETWORK_ATTRIBUTE_ATTR_MAX_FREQ_SNAP_GAP`
`TAI_NETWORK_ATTRIBUTE_ATTR_MAX_FREQ_ERROR`

[2018-11-15 01:16] samisaab commented on #45
How about
`TAI_NETWORK_INTERFACE_ATTR_MAX_OVERSHOOT_TX_LASER_FREQ`

Also, instead of comparing to the min frequency, one should compare to the channel 1 frequency.

[2018-11-16 01:07] samisaab commented on #45
Wataru explained to me that he requested a max snap delta for every frequency set, not an overshoot at the minimum and maximum allowable frequencies.  However this get complicated because such a delta should be a function of the signal and neighboring signal bandwidths, which may not be known at this level.  We decided to omit this enhancement for now.

[2018-11-16 02:21] samisaab commented on #45
Latest changes to tainetworkif.h are as follows.

- Removed following attributes
  - `TAI_NETWORK_INTERFACE_ATTR_TX_CHANNEL`
  - `TAI_NETWORK_INTERFACE_ATTR_CHANNEL_FREQ`
  - `TAI_NETWORK_INTERFACE_ATTR_CHANNEL_LAMBDA`
- Added following attributes
  - `TAI_NETWORK_INTERFACE_ATTR_CURRENT_TX_LASER_FREQ`
  - `TAI_NETWORK_INTERFACE_ATTR_CH1_FREQ`
- Changed `TAI_NETWORK_INTERFACE_ATTR_TX_GRID_SPACING`

[2018-11-17 00:40] scott-emery commented on #45
At this point in the TAI development, the API is fairly fluid. We continue to make important modifications to converge on the best API possible. And so, I would say that there is no need to deprecate attributes. I think it will just create confusion by carrying these unused API attributes. At some point, I expect things will settle down and we will need to be more mindful of modifying existing API

[2018-11-17 04:19] samisaab commented on #45
OK, I will remove `TAI_NETWORK_INTERFACE_ATTR_TX_CHANNEL`

Regarding `TAI_NETWORK_INTERFACE_ATTR_MIN_LASER_FREQ `, I use it to report the result from the MSA defined register 0x8014, and I use `TAI_NETWORK_INTERFACE_ATTR_MIN_LASER_FREQ` to report the result from the MSA defined register 0x8012.  These are the guaranteed minimum and maximum frequencies that the laser supports.  We could use `TAI_NE

[2018-11-19 19:35] scott-emery commented on #45
Ok, got it. Let's leave `TAI_NETWORK_INTERFACE_ATTR_MIN_LASER_FREQ` and `TAI_NETWORK_INTERFACE_ATTR_MAX_LASER_FREQ` as they are: read only minimum and maximum laser frequencies (in Hz) supported by the laser. The intention is to have them based upon the 0x8012 and 0x8014 MSA registers (converting wavelength to frequency).

[2018-11-27 19:36] scott-emery opened #53 "TAI_HOST_INTERFACE_ATTR_LANE_FAULT is not defined properly"
Commit 2f2abde98c96c7f5ce85732840c3bd134bece9a9 changed the lane fault definition from a bitmap value to a list of enumerated values. This matches the way SAI handles things. The problem is that a host interface can have multiple lanes, each of which can have faults. So instead of a list of faults, this attribute needs to be a list of lanes each with a list of faults.

This COULD be implemented wi

[2018-11-30 20:57] ishidawataru commented on #53
@scott-emery How about creating a new object `host_interface_lane` ?
I'm not against to create `attrvallist`.
I just thought if we are going to have more lane related attributes, it would be good to have an object for it.

[2018-12-06 08:28] Lewis-Kang opened #55 "some issues on TAI-MAI.md"
The following APIs or structure is mentioned in https://github.com/Telecominfraproject/oopt-tai/blob/master/docs/TAI-MAI.md

_mai_api_initialize()
mai_api_uninitialize()
mai_service_method_table_t_

However, according to the code in https://github.com/Telecominfraproject/oopt-tai-implementations/tree/master/tai_mux, the following are being used instead

_tai_api_initialize()
tai_api_uninitialize()

[2018-12-07 22:55] ishidawataru commented on #55
@Lewis-Kang TAI-MAI.md needs to be updated based on the current mux implementation.

We need to clearly explain that MAI interface is now exactly same as TAI interface. (We could remove the term MAI depending on how to explain.)

We can use the exact same libtai.so without mux or with mux.
When we use the mux, it calls `libtai.so` 's `tai_api_initialize()` with setting [module_presence](https://gi

[2019-01-17 18:28] scott-emery commented on #53
At some point in the future we could create host_interface_lane objects, but for now, since this is the only attribute of such objects, keeping this as part of the host interface object seem like the best option.

[2019-01-17 22:39] #53 closed

[2019-01-17 22:39] ishidawataru commented on #53
@scott-emery Thanks for your comment. Merged the PR.

[2019-01-25 00:07] ishidawataru commented on #45
fixed by https://github.com/Telecominfraproject/oopt-tai/pull/51/files
thank you @samisaab and @scott-emery !

[2019-01-25 00:07] #45 closed

[2019-01-25 00:08] ishidawataru commented on #46
@ojnas Please reopen if you have further questions.

[2019-01-25 00:08] #46 closed

[2019-02-22 09:48] #35 closed

[2019-02-22 10:13] JumpeiHongo opened #62 "LOF(loss of frame) monitoring function"
Hello @ishidawataru , @scott-emery , @samisaab and all,

Can I ask two questions below?
 (1)We'd like to add LOF(loss of frame) monitor
    I guess "tai_host_interface_tx_align_status_t" is it.
    Is that right?

 (2)Could you tell me the detection point for "tai_host_interface_tx_align_status_t"?
    It looks it is the point (1) in the attached file.
[Detection.pptx](https://github.com/Telecomin

[2019-02-25 07:51] ishidawataru commented on #62
@JumpeiHongo `tai_host_interface_tx_align_status_t` is typically [implemented](https://github.com/Telecominfraproject/oopt-tai-implementations/blob/5f555260318f3eb0dce409fd2e58f205f7b7dd68/tai_ac400/src/ac400_tai_hostif.c#L86) as reading `B650` register in [CFP MSA](http://www.cfp-msa.org/Documents/CFP_MSA_MIS_V2p6r06a.pdf).

If you are saying about OTN LOF, `tai_host_interface_tx_align_status_t`

[2019-02-26 08:50] JumpeiHongo commented on #62
Hello @ishidawataru  , @scott-emery  , @samisaab  and all,

Thank you for your comment.

I update the diagram by using current TAI parameter.
[Detection.pptx](https://github.com/Telecominfraproject/oopt-tai/files/2904497/Detection.pptx)
Could you please confirm this?

And I also add the two new parameters in this slide.
Do you have any comment if I add them to the TAI interface?
My concern is ther

[2019-03-16 17:37] ishidawataru commented on #62
@JumpeiHongo Please create a PR for your proposal so that we can discuss based on code.

[2019-03-16 17:39] ishidawataru commented on #62
If I understand correctly, LOF status should also be in network interface attribute.
host interface's RX means CAUI-4 interface which faces to Ethernet ASIC. It doesn't carry OTU information.

[2019-03-29 01:53] JumpeiHongo commented on #62
Thanks! I will do PR.

[2019-03-29 01:53] #62 closed

[2019-05-30 04:12] HidekiNishizawa commented on #38
I agree to Wataru, baudrate must be read-only parameter from coherent DSP point of view. Generally baudrate is determined after the other setting parameters like modulation format, FEC type, FEC overhead, etc. have been configured.

[2019-06-05 01:47] skuwa opened #76 "Add client signal rate attribute"
I suggest to support client signal rate attribute.

I propose to add client signal rate attribute under **taihostif**.
Here is my suggestion sample code:

[code]

I think the network interface bitrate can be  defined by this client signal rate and TAI_MODULE_ATTR_TRIBUTARY_MAPPING. We need to care as there may be a combination of bitrate and modulation format that can not be set in the network int

[2019-06-05 02:11] ishidawataru commented on #76
@skuwa Thanks. Looks good to me.

As for Voyager and Cassini we can always return `TAI_HOST_INTERFACE_CLIENT_SIGNAL_RATE_100_GbE` for all host networks.

related PR : https://github.com/Telecominfraproject/oopt-tai/pull/66

@JumpeiHongo @scott-emery any comments?

[2019-06-05 08:30] JumpeiHongo commented on #76
I also agree, if this is the attribute which is read only.

[2019-06-07 06:11] JumpeiHongo commented on #76
If we add this as setting parameter, we need to care the Network interface. (ex. modulation format)
This may means the network interface(TAI module) should adjust automatically following the client rate setting.

What do you think about this? > all members.
I'd like to discuss the TAI's policy.

[2019-06-12 02:18] JumpeiHongo commented on #76
@ishidawataru @skuwa
I think we should discuss above thing in another issue.
So could you merge this attribute for reading and setting parameter?

[2019-06-13 02:43] skuwa commented on #76
@ishidawataru @JumpeiHongo
thanks for your comments.
I send pull request #79

[2019-06-25 07:10] #76 closed

[2020-02-09 07:47] ishidawataru commented on #55
TAI-MAI.md is replaced with TAI-MUX.pdf

[2020-02-09 07:47] #55 closed

[2021-07-20 06:21] toru-mano opened #131 "Additional setting attributes for transmission mode description"
This issue suggests adding new setting attributes for transmission mode description enhancement.

## Transmission modes and their descriptions

This issue defines **a transmission mode** as a transponder's operational mode corresponding to an optical interface specification (e.g., OpenROADM 400G) such as OpenROADM, CableLabs, ITU-T, IEEE, and OIF specification.

A transmission mode specifies the t

[2021-07-20 07:31] ishidawataru commented on #131
I think we can go with Suggestion (a).
Can you list the standardized modes that you think we need to consider and create a map that shows what TAI attribute combination needs to be used for those modes?

[2021-07-20 08:04] m1k10h commented on #131
Thank you for the proposal. I have a few questions.

Q1. How would the new attribute work together with the existing attribute? For example, FEC-type, which is already defined as TAI_HOST_INTERFACE_ATTR FECT TYPE. I'm personally fine to deprecate TAI_HOST_INTERFACE_ATTR_FEC_TYPE and use the new attribute instead, though.

Q2. Can you please elaborate on the values of new attribute? For example, FE

[2021-07-20 09:58] toru-mano commented on #131
@ishidawataru

I will do this. Thanks.

@mikiohr
Thank you for the questions.

Q1. We should keep the existing attributes. The following is my understanding. FEC type in host interface `TAI_HOST_INTERFACE_ATTR FEC_TYPE` specifies FEC type of a *client* port (e.g., FEC for 100GbE), while FEC type in network interface specifies FEC type of a *line* port (e.g., FEC for OTN). So, they represent differ

[2021-08-05 05:05] toru-mano commented on #131
@ishidawataru,

The following table lists the standardized transmission modes that correspond to the existing specifications by OpenROADM [1,2], CableLabs [3,4], ITU-T[5,6,7,8], IEEE[9], and OIF[10]. Note that, each line represents a transmission mode.

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">

<colgroup>
<col  class="org-left" />

<col  class="org-left" />

[2021-08-05 06:18] ishidawataru commented on #131
@toru-mano Thanks a lot for the information. This information is helpful.

In #130, you created line rate enums every 100G up to 800G. Some standardization bodies are now thinking 800G, but is anybody thinking 500G, 600G, or 700G? Maybe we should consider making the line rate attribute a continuous variable in this case? ( I'm also considering FlexE + a line rate that is not dividable by 100 here

[2021-08-05 07:08] ishidawataru commented on #131
@toru-mano One more comment. I think we should investigate how the OpenROADM YANG model supports multiple DSP modes.

TAI acts as an intermediate between the NOS management system (e.g. YANG) and hardware registers (e.g. C-CMIS).
We need to make sure TAI doesn't limit what the NOS management system wants to do.

[2021-08-05 12:31] ggrammel commented on #131
Few comments about the use of codes to describe compatibility. Application Codes have been used in the past to easily identify and buy modules conforming to a "performance class" like QSFP-100G-LR4 for 10km in a data center. This classification relies on assumptions about the fiber (10km) and defines the minimum  requirements that a module must meet to qualify.
However, the optics market for DWDM

[2021-08-05 23:43] m1k10h commented on #131
@toru-mano Thank you for updating the proposal. Let me leave a few comments from software implementation point of view, I mean, off-the-shelf or embedded controller point of view. A controller might want to use the proposed attributes like the following:

1. Fetch a list of values for each attribute as capability announcement from a TAI adapter, e.g., rate=[100g, 200g, 400g, etc.], mod=[dp-16qam,

[2021-08-06 04:08] ishidawataru commented on #131
@ggrammel Hi Gert, thanks for your input.

In the last TAI workshop, @toru-mano mentioned the necessity of more netif *read-only* TAI attributes to expose the performance or capability of the transceiver like chromatic dispersion tolerance. This is the first step to add minimum *configuration* attributes to configure the transceiver. Going forward we can discuss what needs to be added to TAI to co

[2021-08-06 05:34] toru-mano commented on #131
Thank you all for your many comments. I will reply in order.

@ishidawataru,
Regarding the line rate, I agree with you. It's too early to includes over 400G line rate. I will revise the source code. At first, I was thinking about proprietary transmission mode with probabilistic constellation shaping. Still, if TAI supports custom enum values, it is wise to use it for proprietary modes  (of course,

[2021-08-06 13:05] ggrammel commented on #131
@ishidawataru, @mikiohr
I think we are broadly aligned.  The Table proposed by @toru-mano is a great starting point and pretty aligned with what https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-dwdm-if-param-yang-05 intends to encode.

The point I wanted to highlight is that the view of what is "compatible" is often a little distorted by the closed-system idea that both Transponders need to

[2021-08-10 05:50] ishidawataru commented on #131
I agree that we need a way to provide "templates" for the allowed configuration combinations and I think the TAI adapter is a good place to hold that information.
The development of the TAI adapter host and NOS management layer on top of it would become easier if the TAI adapter can provide the information and validate the configuration.
Sometimes the hardware doesn't directly provide that kind of

[2021-08-10 10:36] ggrammel commented on #131
@ishidawataru  the idea to implement a template on the adapter looks good to me in general. The issue is how to configure the template.

Option-1 is to embed the template as part of the software which may be doable for stable standards. However any update or addition of templates would require a SW update which is operationally unwelcome. My preference would be to let vendors deliver with a list o

[2021-08-11 02:47] ishidawataru commented on #131
@ggrammel I like the idea of distinguishing implementation templates and mode templates.
An implementation template can be expressed by a set of TAI attributes like below.

[code]

I think we can make this list ordered by preference of the module.
Using the above example, if TAI adapter host only specifies `rate:400g`, the template `(rate:400g, mode:dp-16qam, fec:ofec)` will be used.
if TAI adapte

[2021-08-11 04:49] m1k10h commented on #131
@ishidawataru For avoiding unnecessary confusion, it might be better to have an explicit preference field or similar in the template entry; I'm not confident that every serialization format in the globe preserves the order of elements in array/map/etc.

[2021-08-12 00:08] ishidawataru commented on #131
@mikiohr I think we can consider adding it at a later point if really needed. TAI is a C interface, that can preserve the order of elements in an array.
If we put a preference field, we need to consider what happens when two fields have the same value. I want to avoid complexity.

Out of curiosity, do you know any serialization format that might not preserve the order of elements?

[2021-08-12 01:01] m1k10h commented on #131
@ishidawataru Fair enough.

```Out of curiosity, do you know any serialization format that might not preserve the order of elements?```

In general, map or associated array might not. For simple array/list/vector, hm, I saw a few JSON implementations that broke the order of elements in a past.

[2021-08-24 00:35] toru-mano commented on #131
I have compiled a list of issues and suggestions (Sub issue 1 to 4) that have been mentioned so far to organize my thoughts. I would appreciate it if you could let me know if there are any omissions or shortcomings. I have also found another issue (Sub issue 5), which I will list here, and like to hear your though.

# Sub issue 1

We need a way to get supported transmission modes (or valid combina

[2021-08-25 07:44] toru-mano commented on #131
Regarding the implementation template and TAI capability API, as I understand, currently, there is no good C struct to represent the implementation template, i.e., a combination of attributes. Closest one is `tai_attr_vlaue_list_t`. Although the definition of `tai_attribute_value_t` in `inc/taitypes.h` technically allows the list of the list, `meta/main.py` denies it in the function `process_type`

[2021-08-25 08:44] ishidawataru commented on #131
@toru-mano Thank you for summarizing the discussion.

I agree. `TAI_NETWORK_INTERFACE_CLIENT_SIGNAL_MAPPING_TYPE`? What will be the type of other modes?

You're right. I think allowing a list of lists in `tai_attr_value_list_t` is the most extendable way if we want to allow including custom attributes to this attribute.
`meta/main.py` is currently not allowing this to avoid the complexity of memor

[2021-08-25 11:29] m1k10h commented on #131
@toru-mano, Thank you for your great work! I think you address all issues incl. client-signal-mapping and it's time to clean up your draft proposal in the first comment for landing.

[2021-08-30 11:43] toru-mano commented on #131
@ishidawataru Thank you for your comments. I updated the first comment https://github.com/Telecominfraproject/oopt-tai/issues/131#issue-948311058 to include the transmission mode table and added the column corresponding to the client signal mapping type. So `TAI_NETWORK_INTERFACE_ATTR_CLIENT_SIGNAL_MAPPING_TYPE` will look like below

[code]

 I tentatively used the term `OTU4`, `FlexO`, `ZR`, but,

[2021-08-31 05:10] toru-mano commented on #131
I chose the corresponding specification's title as the client mapping name. That is "OUT4-LR", "FlexO-LR," and "ZR." They correspond to ITU-T G.709.2 "OUT4 long-reach interface", ITU-T G.709.3 "Flexible OTN long-reach interface," and OIF400ZR/OpenZR+.

Also, I made a corresponding pull request https://github.com/Telecominfraproject/oopt-tai/pull/137.

[2021-08-31 09:45] toru-mano commented on #131
@ishidawataru Thank you for the comments. I'm thinking of adding an attribute that represents implementation templates (or supported transmission modes).

I took a look at the memory allocation code. I agree that extending it to include custom attributes, etc., would make the code more complex. I thought it would be better to avoid making such complex changes just for transmission modes.

 I also

[2021-08-31 10:36] ishidawataru commented on #131
@toru-mano I think it's not that difficult to support attr-list of attr-list if we put the following restriction.

`tai_attr_value_list_t` already supports having an integer list ( e.g. `u32list` ) as the internal value.

It may look over-engineering to do this just for transmission modes. However, I want to take this approach to support adding custom attributes to this list. TAI adapter may want

[2021-08-31 10:58] ishidawataru commented on #131
@toru-mano After thinking more, I realized that supporting internal `tai_attr_value_list_t` can't solve the problem since currently none of the attr values includes attr-id. I come up with the following. Could you comment on this?

[code]

[2021-08-31 12:40] toru-mano commented on #131
@ishidawataru I overlooked the importance of supporting custom attributes or proprietary transmission modes and now understand your intention.

I will play the devil's advocate. Another possible implementation is the following (if current meta and other libraries support types such as `tai_enum_tuple_t`).
[code]

This implementation is closer to the original presentation, that is, a list of combin

[2021-09-13 02:13] toru-mano commented on #131
@ishidawataru After reviewing both codes, I preferred `tai_enum_list_t` because it is more straightforward and less ambiguous. So, I made a pull request #138.

[2021-09-13 07:23] ishidawataru commented on #131
@toru-mano Thank you. As commented in #138, I'd like to actually implement this in our TAI implementations to see the validity of the proposal before merging.

https://github.com/Telecominfraproject/oopt-tai/issues/131#issuecomment-893196504

BTW, I just added custom enum value support to metadata generation code.　https://github.com/Telecominfraproject/oopt-tai/pull/139

[2022-01-20 15:30] #38 closed